@import '../../../main.scss';

.form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
  padding: 15px;
  box-shadow: $box_shadow;
  border-radius: $border_radius;
}
.form__header {
  text-align: center;
}
.form__button-devider {
  height: 16px;
}
